{% load static %}  
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'comptes/css/compte.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Inscription</h2>
        <form action="{% url 'inscription' %}" method="post">
            {% csrf_token %}
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenoms">Prénoms :</label>
            <input type="text" id="prenoms" name="prenoms" required>

            <label for="sexe">Sexe :</label>
            <select id="sexe" name="sexe" required>
                <option value="M">Masculin</option>
                <option value="F">Féminin</option>
            </select>

            <label for="role">Rôle :</label>
            <select id="role" name="role" required>
                <option value="vendeur">Vendeur</option>
                <option value="administrateur">Administrateur</option>
            </select>

            <label for="login">Login :</label>
            <input type="text" id="login" name="login" required>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">S'inscrire</button>
            <p>Dèjà inscrit ? <a href="{% url 'connexion' %}">Connectez-vous</a></p>
        </form>
    </div>
</body>
</html>